@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: black;
    overflow: hidden;
}

.header
{
    display: grid;
    grid-template-columns: 50% 25% 5% 20%;
    grid-template-rows: 1fr 65px 1fr;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background: #000000;
}

.title
{
    grid-column: 1/2;
    grid-row: 1/2;
    width: auto;
    height: auto;
    left: 50%;

    font-family: 'Ribeye Marrow', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 66px;
    text-align: center;

    color: #FFFFFF;
}

.bar{
    grid-column: 4/5;
    grid-row: 1/2;
    
}
.searchbar
{
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    background-color: black;
    color: white;
    align-self: center;
}

input:focus, textarea:focus, select:focus{
    outline: none;
    border: 2px solid white;
}

.button
{
    grid-column: 3/4;
    grid-row: 1/2;
    height: 30px;
    width: 30px;
    background-color: blue;
    border-radius: 50%;
}

.userButton
{
    height: 30px;
    width: 30px;
    z-index: -1;
    border-radius: 50%;
}
.container
{
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 60vw;
    margin: auto;
    overflow: scroll;
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
}
.container::-webkit-scrollbar {
  display: none;

}
.cards
{
    
    width: 325px;
    height: 300px;

    background: linear-gradient(180deg, rgba(100, 100, 100, 0.6) 0%, rgba(244, 247, 255, 0) 100%);
    border-radius: 19px; 
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.boxes
{
    background: rgba(255, 251, 251, 0.05);
    border-radius: 13px;

    margin: 10px;
    padding: 5px;
    text-align: center;

    font-family: 'Indie Flower', cursive;
    color: rgb(255, 255, 255);
}

.name
{
    
    width: 111px;
    height: 32px;
    font-family: 'Merienda', cursive;
    /* color: black; */

}
.name-content
{
    
    width: 254px;
    height: 32px;
}
.email
{
    
    width: 111px;
    height: 32px;
    font-family: 'Merienda', cursive;
    /* color: black; */
}
.email-content
{
    
    width: 254px;
    height: 32px;
    
}



 .circle1
{
    position: absolute;
    border-radius: 50%;
    bottom: -25%;
    left: -5%;
    width: 548px;
    height: 551px;
    background: radial-gradient(50% 50% at 50% 50%, #FF0000 0%, rgba(196, 196, 196, 0) 75%, #EF0000 100%);

}

.circle2
{
    position: absolute;
    border-radius: 50%;
    top: -45%;
    right: 70%;
    width: 608px;
    height: 620px;

    background: radial-gradient(50% 50% at 50% 50%, #04FFE1 0%, rgba(4, 255, 240, 0) 66.67%, rgba(4, 240, 255, 0.71875) 100%);
}

.circle3
{
    position: absolute;
    border-radius: 50%;
    bottom: -25%;
    right: -10%;
    width: 648px;
    height: 651px;

    background: radial-gradient(50% 50% at 50% 50%, #ADFF00 0%, rgba(196, 196, 196, 0) 75%, #CEEF00 100%);
} 